<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorieAppelOffre">
            <h2><span jhiTranslate="gatewaysigmapApp.dossiermsCategorieAppelOffre.detail.title">Categorie Appel Offre</span> {{ categorieAppelOffre.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.dossiermsCategorieAppelOffre.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ categorieAppelOffre.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.dossiermsCategorieAppelOffre.niveau">Niveau</span></dt>
                <dd>
                    <span>{{ categorieAppelOffre.niveau }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorie-appel-offre', categorieAppelOffre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
