<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaysigmapApp.dossiermsDossiersPiece.home.title">Dossiers Pieces</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dossiers-piece" [routerLink]="['/dossiers-piece/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewaysigmapApp.dossiermsDossiersPiece.home.createLabel">
            Create a new Dossiers Piece
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dossiersPieces?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.dossiermsDossiersPiece.home.notFound">No dossiersPieces found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="dossiersPieces && dossiersPieces.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dossierAppelOffreId"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersPiece.dossierAppelOffre">Dossier Appel Offre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pieceId"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersPiece.piece">Piece</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dossiersPiece of dossiersPieces ;trackBy: trackId">
                    <td><a [routerLink]="['/dossiers-piece', dossiersPiece.id, 'view']">{{ dossiersPiece.id }}</a></td>
                    <td>
                        <div *ngIf="dossiersPiece.dossierAppelOffreId">
                            <a [routerLink]="['/dossier-appel-offre', dossiersPiece.dossierAppelOffreId , 'view']" >{{ dossiersPiece.dossierAppelOffreId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="dossiersPiece.pieceId">
                            <a [routerLink]="['/piece', dossiersPiece.pieceId , 'view']" >{{ dossiersPiece.pieceId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/dossiers-piece', dossiersPiece.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/dossiers-piece', dossiersPiece.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dossiersPiece)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dossiersPieces && dossiersPieces.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
