<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dossiers-commissions-marche-heading" jhiTranslate="gatewaysigmapApp.dossiermsDossiersCommissionsMarche.home.createOrEditLabel">Create or edit a Dossiers Commissions Marche</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersCommissionsMarche.flagPresenceEvaluation" for="field_flagPresenceEvaluation">Flag Presence Evaluation</label>
                    <input type="number" class="form-control" name="flagPresenceEvaluation" id="field_flagPresenceEvaluation"
                           formControlName="flagPresenceEvaluation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersCommissionsMarche.etapePI" for="field_etapePI">Etape PI</label>
                    <input type="number" class="form-control" name="etapePI" id="field_etapePI"
                           formControlName="etapePI"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersCommissionsMarche.dossierAppelOffre" for="field_dossierAppelOffre">Dossier Appel Offre</label>
                    <select class="form-control" id="field_dossierAppelOffre" name="dossierAppelOffre" formControlName="dossierAppelOffreId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dossierAppelOffreOption.id" *ngFor="let dossierAppelOffreOption of dossierappeloffres; trackBy: trackById">{{ dossierAppelOffreOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersCommissionsMarche.membresCommissionsMarche" for="field_membresCommissionsMarche">Membres Commissions Marche</label>
                    <select class="form-control" id="field_membresCommissionsMarche" name="membresCommissionsMarche" formControlName="membresCommissionsMarcheId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="membresCommissionsMarcheOption.id" *ngFor="let membresCommissionsMarcheOption of membrescommissionsmarches; trackBy: trackById">{{ membresCommissionsMarcheOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
