.create-plan-passation {
  margin-left: 10px;
}
.export-plan-passation {
  border: #28a745;
}

.table tr.highlight td {
  background-color: #b3b3b3 !important;
  color: white;
}
.table tr td {
  cursor: pointer;
}
