<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.home.title">Fournisseurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fournisseur" [routerLink]="['/fournisseur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.home.createLabel">
            Create a new Fournisseur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fournisseurs?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.home.notFound">No fournisseurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fournisseurs && fournisseurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroRegistreCommerce"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.numeroRegistreCommerce">Numero Registre Commerce</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="piecejointe"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.piecejointe">Piecejointe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activite"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.activite">Activite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adressecomptable"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.adressecomptable">Adressecomptable</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adressedirigeant"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.adressedirigeant">Adressedirigeant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="autredenomination"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.autredenomination">Autredenomination</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="autreformejuridique"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.autreformejuridique">Autreformejuridique</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bpcomptable"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.bpcomptable">Bpcomptable</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bpdeux"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.bpdeux">Bpdeux</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bptrois"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.bptrois">Bptrois</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bpun"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.bpun">Bpun</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bpsecondaire"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.bpsecondaire">Bpsecondaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="centreimpot"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.centreimpot">Centreimpot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comptable"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.comptable">Comptable</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dirigeant"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.dirigeant">Dirigeant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enseigne"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.enseigne">Enseigne</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etssecondaire"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.etssecondaire">Etssecondaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="insae"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.insae">Insae</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="formejuridique"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.formejuridique">Formejuridique</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="proprietairesiege"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.proprietairesiege">Proprietairesiege</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quartier"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.quartier">Quartier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroenregistrement"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.numeroenregistrement">Numeroenregistrement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serviceencharge"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.serviceencharge">Serviceencharge</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="siege"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.siege">Siege</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sigle"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.sigle">Sigle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telcomptable"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.telcomptable">Telcomptable</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="teldeux"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.teldeux">Teldeux</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="teldirigeant"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.teldirigeant">Teldirigeant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telsecondaire"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.telsecondaire">Telsecondaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="teltrois"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.teltrois">Teltrois</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telun"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.telun">Telun</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ville"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.ville">Ville</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typedge"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.typedge">Typedge</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="utilisateurLogin"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.utilisateurLogin">Utilisateur Login</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fax"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.fax">Fax</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="catFournisseurId"><span jhiTranslate="gatewaysigmapApp.dossiermsFournisseur.catFournisseur">Cat Fournisseur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fournisseur of fournisseurs ;trackBy: trackId">
                    <td><a [routerLink]="['/fournisseur', fournisseur.id, 'view']">{{ fournisseur.id }}</a></td>
                    <td>{{ fournisseur.nom }}</td>
                    <td>{{ fournisseur.adresse }}</td>
                    <td>{{ fournisseur.email }}</td>
                    <td>{{ fournisseur.telephone }}</td>
                    <td>{{ fournisseur.numeroRegistreCommerce }}</td>
                    <td>{{ fournisseur.piecejointe }}</td>
                    <td>{{ fournisseur.code }}</td>
                    <td>{{ fournisseur.activite }}</td>
                    <td>{{ fournisseur.adressecomptable }}</td>
                    <td>{{ fournisseur.adressedirigeant }}</td>
                    <td>{{ fournisseur.autredenomination }}</td>
                    <td>{{ fournisseur.autreformejuridique }}</td>
                    <td>{{ fournisseur.bpcomptable }}</td>
                    <td>{{ fournisseur.bpdeux }}</td>
                    <td>{{ fournisseur.bptrois }}</td>
                    <td>{{ fournisseur.bpun }}</td>
                    <td>{{ fournisseur.bpsecondaire }}</td>
                    <td>{{ fournisseur.centreimpot }}</td>
                    <td>{{ fournisseur.comptable }}</td>
                    <td>{{ fournisseur.dirigeant }}</td>
                    <td>{{ fournisseur.enseigne }}</td>
                    <td>{{ fournisseur.etssecondaire }}</td>
                    <td>{{ fournisseur.insae }}</td>
                    <td>{{ fournisseur.formejuridique }}</td>
                    <td>{{ fournisseur.proprietairesiege }}</td>
                    <td>{{ fournisseur.quartier }}</td>
                    <td>{{ fournisseur.numeroenregistrement }}</td>
                    <td>{{ fournisseur.serviceencharge }}</td>
                    <td>{{ fournisseur.siege }}</td>
                    <td>{{ fournisseur.sigle }}</td>
                    <td>{{ fournisseur.telcomptable }}</td>
                    <td>{{ fournisseur.teldeux }}</td>
                    <td>{{ fournisseur.teldirigeant }}</td>
                    <td>{{ fournisseur.telsecondaire }}</td>
                    <td>{{ fournisseur.teltrois }}</td>
                    <td>{{ fournisseur.telun }}</td>
                    <td>{{ fournisseur.ville }}</td>
                    <td>{{ fournisseur.typedge }}</td>
                    <td>{{ fournisseur.type }}</td>
                    <td>{{ fournisseur.utilisateurLogin }}</td>
                    <td>{{ fournisseur.fax }}</td>
                    <td>
                        <div *ngIf="fournisseur.catFournisseurId">
                            <a [routerLink]="['/cat-fournisseur', fournisseur.catFournisseurId , 'view']" >{{ fournisseur.catFournisseurId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fournisseur', fournisseur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fournisseur', fournisseur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fournisseur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="fournisseurs && fournisseurs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
