<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="monnaieOffre">
            <h2><span jhiTranslate="gatewaysigmapApp.dossiermsMonnaieOffre.detail.title">Monnaie Offre</span> {{ monnaieOffre.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.dossiermsMonnaieOffre.monCode">Mon Code</span></dt>
                <dd>
                    <span>{{ monnaieOffre.monCode }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.dossiermsMonnaieOffre.monLibelle">Mon Libelle</span></dt>
                <dd>
                    <span>{{ monnaieOffre.monLibelle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/monnaie-offre', monnaieOffre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
