.ribbon[_ngcontent-aay-c155] {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 40px;
  white-space: nowrap;
  width: 15em;
  z-index: 9999;
  pointer-events: none;
  opacity: 0.75;
}
.ribbon[_ngcontent-aay-c155] a[_ngcontent-aay-c155] {
  color: #fff;
  display: block;
  font-weight: 400;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
  pointer-events: none;
}

.footer-icons[_ngcontent-aay-c156] {
  font-size: 2.25em;
}

.side-menu[_ngcontent-aay-c151] {
  border-right: 1px solid #dddddd;
}

.hipster[_ngcontent-aay-c151] {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url(../../../../content/images/jhipster_family_member_1.svg) no-repeat center top;
  background-size: contain;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  //only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster[_ngcontent-aay-c151] {
    background: url(../../../../content/images/jhipster_family_member_1.svg) no-repeat center top;
    background-size: contain;
  }
}

.hipster[_ngcontent-aay-c141] {
  display: inline-block;
  width: 170px;
  height: 89px;
  background: url(../../../../content/images/jhipster_family_member_1.svg) no-repeat center top;
  background-size: contain;
}

.navbar-version[_ngcontent-aay-c139] {
  font-size: 0.65em;
  color: rgba(255, 255, 255, 0.5);
}

.profile-image[_ngcontent-aay-c139] {
  height: 1.75em;
  width: 1.75em;
}

.navbar[_ngcontent-aay-c139] {
  padding: 0.2rem 1rem;
}

.navbar[_ngcontent-aay-c139] ul.navbar-nav[_ngcontent-aay-c139] .nav-item[_ngcontent-aay-c139] {
  margin-left: 0.5em;
}

.navbar[_ngcontent-aay-c139] a.nav-link[_ngcontent-aay-c139] {
  font-weight: 400;
}

.logo-img[_ngcontent-aay-c139] {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../../content/images/jhipster_family_member_1.svg) no-repeat center center;
  background-size: contain;
}

//</style><script charset="utf-8" src="app/3.db318b98332eac0070ef.chunk.js"></script>
.chart[_ngcontent-aay-c158] {
  margin-bottom: 5%;
  box-shadow: 5px 5px rgba(53, 61, 71, 0.2);
}

.fullScreen[_ngcontent-aay-c158] {
  padding: 1%;
  width: 100%;
}

.numbersCard[_ngcontent-aay-c158] {
  height: 150px;
  padding-top: 25px;
  width: 100%;
}

.chartBox[_ngcontent-aay-c158] {
  height: 375px;
}

.chartBoxContainer[_ngcontent-aay-c158] {
  margin: auto;
}

.categoryChart[_ngcontent-aay-c158] {
  background-color: #e0e0e0;
  margin-bottom: 5%;
  padding: 1%;
}

ngb-modal-window .component-host-scrollable {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

//<script charset="utf-8" src="app/1.db318b98332eac0070ef.chunk.js"></script>
ul#strength[_ngcontent-aay-c159] {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px;
}

.point[_ngcontent-aay-c159] {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 20px;
}

.point[_ngcontent-aay-c159]:last-child {
  margin: 0 !important;
}

ngb-alert {
  display: block;
}
