<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="confGenSequence">
            <h2><span jhiTranslate="gatewaysigmapApp.planpassationmsConfGenSequence.detail.title">Conf Gen Sequence</span> {{ confGenSequence.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsConfGenSequence.tableName">Table Name</span></dt>
                <dd>
                    <span>{{ confGenSequence.tableName }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaysigmapApp.planpassationmsConfGenSequence.currentValue">Current Value</span></dt>
                <dd>
                    <span>{{ confGenSequence.currentValue }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conf-gen-sequence', confGenSequence.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
