<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.home.title">Conf Table De Transactions</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="confTableDeTransactions?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.home.notFound">No confTableDeTransactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="confTableDeTransactions && confTableDeTransactions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tableName"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.tableName">Table Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="columnName"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.columnName">Column Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroLigne"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.numeroLigne">Numero Ligne</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataType"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.dataType">Data Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="masterId"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.masterId">Master Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="intValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.intValue">Int Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="booleanValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.booleanValue">Boolean Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="moneyValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.moneyValue">Money Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stringValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.stringValue">String Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.textValue">Text Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.dateValue">Date Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instantValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.instantValue">Instant Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zonedDateTimeValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.zonedDateTimeValue">Zoned Date Time Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="longValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.longValue">Long Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="floatValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.floatValue">Float Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="doubleValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.doubleValue">Double Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="durationValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.durationValue">Duration Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uuidValue"><span jhiTranslate="gatewaysigmapApp.planpassationmsConfTableDeTransaction.uuidValue">Uuid Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let confTableDeTransaction of confTableDeTransactions ;trackBy: trackId">
                    <td><a [routerLink]="['/conf-table-de-transaction', confTableDeTransaction.id, 'view']">{{ confTableDeTransaction.id }}</a></td>
                    <td>{{ confTableDeTransaction.tableName }}</td>
                    <td>{{ confTableDeTransaction.columnName }}</td>
                    <td>{{ confTableDeTransaction.numeroLigne }}</td>
                    <td jhiTranslate="{{ 'gatewaysigmapApp.DataType.' + confTableDeTransaction.dataType }}">{{ confTableDeTransaction.dataType }}</td>
                    <td>{{ confTableDeTransaction.masterId }}</td>
                    <td>{{ confTableDeTransaction.intValue }}</td>
                    <td>{{ confTableDeTransaction.booleanValue }}</td>
                    <td>{{ confTableDeTransaction.moneyValue }}</td>
                    <td>{{ confTableDeTransaction.stringValue }}</td>
                    <td>{{ confTableDeTransaction.textValue }}</td>
                    <td>{{ confTableDeTransaction.dateValue | date:'mediumDate' }}</td>
                    <td>{{ confTableDeTransaction.instantValue | date:'medium' }}</td>
                    <td>{{ confTableDeTransaction.zonedDateTimeValue | date:'medium' }}</td>
                    <td>{{ confTableDeTransaction.longValue }}</td>
                    <td>{{ confTableDeTransaction.floatValue }}</td>
                    <td>{{ confTableDeTransaction.doubleValue }}</td>
                    <td>{{ confTableDeTransaction.durationValue }}</td>
                    <td>{{ confTableDeTransaction.uuidValue }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/conf-table-de-transaction', confTableDeTransaction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="confTableDeTransactions && confTableDeTransactions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
