<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaysigmapApp.dossiermsDossiersSouscritere.home.title">Dossiers Souscriteres</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dossiers-souscritere" [routerLink]="['/dossiers-souscritere/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewaysigmapApp.dossiermsDossiersSouscritere.home.createLabel">
            Create a new Dossiers Souscritere
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dossiersSouscriteres?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.dossiermsDossiersSouscritere.home.notFound">No dossiersSouscriteres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="dossiersSouscriteres && dossiersSouscriteres.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersSouscritere.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dossierAppelOffreId"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersSouscritere.dossierAppelOffre">Dossier Appel Offre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lotId"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersSouscritere.lot">Lot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="critereId"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersSouscritere.critere">Critere</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dossiersSouscritere of dossiersSouscriteres ;trackBy: trackId">
                    <td><a [routerLink]="['/dossiers-souscritere', dossiersSouscritere.id, 'view']">{{ dossiersSouscritere.id }}</a></td>
                    <td>{{ dossiersSouscritere.note }}</td>
                    <td>
                        <div *ngIf="dossiersSouscritere.dossierAppelOffreId">
                            <a [routerLink]="['/dossier-appel-offre', dossiersSouscritere.dossierAppelOffreId , 'view']" >{{ dossiersSouscritere.dossierAppelOffreId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="dossiersSouscritere.lotId">
                            <a [routerLink]="['/lot', dossiersSouscritere.lotId , 'view']" >{{ dossiersSouscritere.lotId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="dossiersSouscritere.critereId">
                            <a [routerLink]="['/critere', dossiersSouscritere.critereId , 'view']" >{{ dossiersSouscritere.critereId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/dossiers-souscritere', dossiersSouscritere.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/dossiers-souscritere', dossiersSouscritere.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dossiersSouscritere)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dossiersSouscriteres && dossiersSouscriteres.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
