<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.home.title">Garanties Soumissionnaires</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-garanties-soumissionnaire" [routerLink]="['/garanties-soumissionnaire/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.home.createLabel">
            Create a new Garanties Soumissionnaire
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="garantiesSoumissionnaires?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.home.notFound">No garantiesSoumissionnaires found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="garantiesSoumissionnaires && garantiesSoumissionnaires.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fournie"><span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.fournie">Fournie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observations"><span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.observations">Observations</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libellelot"><span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.libellelot">Libellelot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montant"><span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.montant">Montant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dossierAppelOffreId"><span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.dossierAppelOffre">Dossier Appel Offre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="garantiesDossierId"><span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.garantiesDossier">Garanties Dossier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="plisOuvertureId"><span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.plisOuverture">Plis Ouverture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="naturesGarantieId"><span jhiTranslate="gatewaysigmapApp.dossiermsGarantiesSoumissionnaire.naturesGarantie">Natures Garantie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let garantiesSoumissionnaire of garantiesSoumissionnaires ;trackBy: trackId">
                    <td><a [routerLink]="['/garanties-soumissionnaire', garantiesSoumissionnaire.id, 'view']">{{ garantiesSoumissionnaire.id }}</a></td>
                    <td>{{ garantiesSoumissionnaire.fournie }}</td>
                    <td>{{ garantiesSoumissionnaire.libelle }}</td>
                    <td>{{ garantiesSoumissionnaire.observations }}</td>
                    <td>{{ garantiesSoumissionnaire.libellelot }}</td>
                    <td>{{ garantiesSoumissionnaire.montant }}</td>
                    <td>
                        <div *ngIf="garantiesSoumissionnaire.dossierAppelOffreId">
                            <a [routerLink]="['/dossier-appel-offre', garantiesSoumissionnaire.dossierAppelOffreId , 'view']" >{{ garantiesSoumissionnaire.dossierAppelOffreId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="garantiesSoumissionnaire.garantiesDossierId">
                            <a [routerLink]="['/garanties-dossier', garantiesSoumissionnaire.garantiesDossierId , 'view']" >{{ garantiesSoumissionnaire.garantiesDossierId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="garantiesSoumissionnaire.plisOuvertureId">
                            <a [routerLink]="['/plis-ouverture', garantiesSoumissionnaire.plisOuvertureId , 'view']" >{{ garantiesSoumissionnaire.plisOuvertureId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="garantiesSoumissionnaire.naturesGarantieId">
                            <a [routerLink]="['/natures-garantie', garantiesSoumissionnaire.naturesGarantieId , 'view']" >{{ garantiesSoumissionnaire.naturesGarantieId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/garanties-soumissionnaire', garantiesSoumissionnaire.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/garanties-soumissionnaire', garantiesSoumissionnaire.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(garantiesSoumissionnaire)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="garantiesSoumissionnaires && garantiesSoumissionnaires.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
