<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.home.title">Dossiers Evaluateurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dossiers-evaluateur" [routerLink]="['/dossiers-evaluateur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.home.createLabel">
            Create a new Dossiers Evaluateur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dossiersEvaluateurs?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.home.notFound">No dossiersEvaluateurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="dossiersEvaluateurs && dossiersEvaluateurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commission"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.commission">Commission</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fonction"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.fonction">Fonction</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateRemise"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.dateRemise">Date Remise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateLimite"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.dateLimite">Date Limite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dossierAppelOffreId"><span jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.dossierAppelOffre">Dossier Appel Offre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dossiersEvaluateur of dossiersEvaluateurs ;trackBy: trackId">
                    <td><a [routerLink]="['/dossiers-evaluateur', dossiersEvaluateur.id, 'view']">{{ dossiersEvaluateur.id }}</a></td>
                    <td>{{ dossiersEvaluateur.commission }}</td>
                    <td>{{ dossiersEvaluateur.nom }}</td>
                    <td>{{ dossiersEvaluateur.prenom }}</td>
                    <td>{{ dossiersEvaluateur.telephone }}</td>
                    <td>{{ dossiersEvaluateur.email }}</td>
                    <td>{{ dossiersEvaluateur.fonction }}</td>
                    <td>{{ dossiersEvaluateur.dateRemise | date:'mediumDate' }}</td>
                    <td>{{ dossiersEvaluateur.dateLimite | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="dossiersEvaluateur.dossierAppelOffreId">
                            <a [routerLink]="['/dossier-appel-offre', dossiersEvaluateur.dossierAppelOffreId , 'view']" >{{ dossiersEvaluateur.dossierAppelOffreId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/dossiers-evaluateur', dossiersEvaluateur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/dossiers-evaluateur', dossiersEvaluateur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dossiersEvaluateur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dossiersEvaluateurs && dossiersEvaluateurs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
