<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dossiers-evaluateur-heading" jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.home.createOrEditLabel">Create or edit a Dossiers Evaluateur</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.commission" for="field_commission">Commission</label>
                    <input type="text" class="form-control" name="commission" id="field_commission"
                           formControlName="commission"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.telephone" for="field_telephone">Telephone</label>
                    <input type="number" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.fonction" for="field_fonction">Fonction</label>
                    <input type="text" class="form-control" name="fonction" id="field_fonction"
                           formControlName="fonction"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.dateRemise" for="field_dateRemise">Date Remise</label>
                    <div class="input-group">
                        <input id="field_dateRemise" type="text" class="form-control" name="dateRemise" ngbDatepicker #dateRemiseDp="ngbDatepicker" formControlName="dateRemise"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateRemiseDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.dateLimite" for="field_dateLimite">Date Limite</label>
                    <div class="input-group">
                        <input id="field_dateLimite" type="text" class="form-control" name="dateLimite" ngbDatepicker #dateLimiteDp="ngbDatepicker" formControlName="dateLimite"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateLimiteDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsDossiersEvaluateur.dossierAppelOffre" for="field_dossierAppelOffre">Dossier Appel Offre</label>
                    <select class="form-control" id="field_dossierAppelOffre" name="dossierAppelOffre" formControlName="dossierAppelOffreId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dossierAppelOffreOption.id" *ngFor="let dossierAppelOffreOption of dossierappeloffres; trackBy: trackById">{{ dossierAppelOffreOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
