<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.home.title">Pieces Plis Ouvertures</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pieces-plis-ouverture" [routerLink]="['/pieces-plis-ouverture/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.home.createLabel">
            Create a new Pieces Plis Ouverture
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="piecesPlisOuvertures?.length === 0">
        <span jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.home.notFound">No piecesPlisOuvertures found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="piecesPlisOuvertures && piecesPlisOuvertures.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etat"><span jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.etat">Etat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etatConforme"><span jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.etatConforme">Etat Conforme</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dossierAppelOffreId"><span jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.dossierAppelOffre">Dossier Appel Offre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="plisOuvertureId"><span jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.plisOuverture">Plis Ouverture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pieceId"><span jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.piece">Piece</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let piecesPlisOuverture of piecesPlisOuvertures ;trackBy: trackId">
                    <td><a [routerLink]="['/pieces-plis-ouverture', piecesPlisOuverture.id, 'view']">{{ piecesPlisOuverture.id }}</a></td>
                    <td>{{ piecesPlisOuverture.etat }}</td>
                    <td>{{ piecesPlisOuverture.libelle }}</td>
                    <td>{{ piecesPlisOuverture.etatConforme }}</td>
                    <td>
                        <div *ngIf="piecesPlisOuverture.dossierAppelOffreId">
                            <a [routerLink]="['/dossier-appel-offre', piecesPlisOuverture.dossierAppelOffreId , 'view']" >{{ piecesPlisOuverture.dossierAppelOffreId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="piecesPlisOuverture.plisOuvertureId">
                            <a [routerLink]="['/plis-ouverture', piecesPlisOuverture.plisOuvertureId , 'view']" >{{ piecesPlisOuverture.plisOuvertureId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="piecesPlisOuverture.pieceId">
                            <a [routerLink]="['/piece', piecesPlisOuverture.pieceId , 'view']" >{{ piecesPlisOuverture.pieceId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pieces-plis-ouverture', piecesPlisOuverture.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pieces-plis-ouverture', piecesPlisOuverture.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(piecesPlisOuverture)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="piecesPlisOuvertures && piecesPlisOuvertures.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
