<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pieces-plis-ouverture-heading" jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.home.createOrEditLabel">Create or edit a Pieces Plis Ouverture</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.etat" for="field_etat">Etat</label>
                    <input type="text" class="form-control" name="etat" id="field_etat"
                           formControlName="etat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.etatConforme" for="field_etatConforme">Etat Conforme</label>
                    <input type="text" class="form-control" name="etatConforme" id="field_etatConforme"
                           formControlName="etatConforme"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.dossierAppelOffre" for="field_dossierAppelOffre">Dossier Appel Offre</label>
                    <select class="form-control" id="field_dossierAppelOffre" name="dossierAppelOffre" formControlName="dossierAppelOffreId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dossierAppelOffreOption.id" *ngFor="let dossierAppelOffreOption of dossierappeloffres; trackBy: trackById">{{ dossierAppelOffreOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.plisOuverture" for="field_plisOuverture">Plis Ouverture</label>
                    <select class="form-control" id="field_plisOuverture" name="plisOuverture" formControlName="plisOuvertureId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="plisOuvertureOption.id" *ngFor="let plisOuvertureOption of plisouvertures; trackBy: trackById">{{ plisOuvertureOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysigmapApp.dossiermsPiecesPlisOuverture.piece" for="field_piece">Piece</label>
                    <select class="form-control" id="field_piece" name="piece" formControlName="pieceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pieceOption.id" *ngFor="let pieceOption of pieces; trackBy: trackById">{{ pieceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
